@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #39279D;
    --primary-hover: #FFFFFF;
    --primary-fg: #FFFFFF;
    --primary-fg-hover: #04000B;

    --secondary: #009ADB;
    --secondary-hover: #FFFFFF;
    --secondary-fg: #FFFFFF;
    --secondary-fg-hover: #04000B;

    --ternary: #794671;
    --ternary-hover: #FFFFFF;
    --ternary-fg: #FFFFFF;
    --ternary-fg-hover: #04000B;

    --background: #FFFFFF;
    --foreground: #666666;
  }
}